Graph_predictions/*
Dino/archive/*
Dino/logs/*
__pycache__/*
paper_plots/*
Dino/images_features/*
Dino/.github/*
Dino/logs/*
*/.ipynb_checkpoints/*
**/.ipynb_checkpoints/
Dino/logs/
Dino/.github/
**/__pycache__/
**/*.png
**/*.jpg
bandwagon/
database.ini
**/*.err
**/*.out
Dino/placebo_output*/*
Dino/val_comp/*
Dino/synth_out.pkl
Dino/synth_df_cache.pkl
